<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css" media="screen">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="icon" href="static/img/favicon.ico" sizes="128x128" type="image/png">
</head>
<body>
    <div id="app">{{{ html }}}</div>

    <script type="text/javascript">
        window.__STATE__ = {{{ json state }}};
    </script>

    <script src="static/js/bundle.js"></script>
</body>
</html>
